

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>

<form id="NewRental">
    <div class="form-group">
        <label>Customer</label>
        <input id="customer" type="text" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" type="text" value="" class="form-control" />
        </div>
    </div>

    <button class="btn btn-default">Submit</button>
</form>

<br />
<ul id="movies-list" class="list-group">


</ul>


@section Scripts{
    
    
    <script>

        $(document).ready(function () {

            var vm = { MoviesId: [] };


            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),//movies's name
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({ highlight: true, minLength: 3 }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (e, m) {

                vm.customerId = m.id;
            });



            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),//movies's name
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?name=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({highlight: true, minLength:2}, {
                name: 'movies',
                display: 'name',
                source: movies
            }).on("typeahead:select", function (e, m) {

                $("#movies-list").append("<li class='list-group-item'>" + m.name + "</li>");

                vm.MoviesId.push(m.id);
                console.log(JSON.stringify(vm));
            });

            $("#NewRental").submit(function (e) {

                e.preventDefault();

                console.log("entrou");
                $.ajax({
                    url: "/api/Rentals",
                    type: "POST",
                    data: vm,
                    success: function () {
                        alert("ok");
                        toastr.success("Rental created with success!");
                    },
                    error: function (e) {
                        toastr.error("An error has ocurried ");
                    }
                });


            });

        });



    </script>
    
    }
